@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Wix+Madefor+Display&display=swap');

:root {
  --ff-logo: 'Sigmar', cursive;
  --ff-main: 'Wix Madefor Display', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  font-family: var(--ff-main);

}

.header {
  min-height: 100vh;
  background-image: linear-gradient(#acb6e5 66%, #86fde8);
  padding-inline: 1rem;
}

.header-nav, .h-nav--items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-nav--logo {
  font-family: var(--ff-logo);
  font-size: clamp(1.25rem, 5vw, 2rem);
}

.h-nav--items {
  list-style: none;
  gap: clamp(0.25rem, 5vw, 1.25rem);
}

.h-nav--items a {
  text-decoration: none;
  color: white;
}

.header-body {
  margin-top: 30%;
  display: grid;
  gap: 1rem;

  
}

.header-body a {
  text-decoration: none;
  color: white;

}

.lovely-btn {
  padding: 5px 10px;
  border-radius: 5px 25px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  transition: all 200ms ease;
}

.lovely-btn:hover{
  border-radius: 5px;
  background: black;
  color: white;
}



